<div>
  <div>
    <p>Nome</p>
    <div>
      <input type="text" #nome>
    </div>
  </div>
  <div>
    <p>Cognome</p>
    <div>
      <input type="text" #cognome>
    </div>
  </div>
  <div>
    <p>Indirizzo</p>
    <div>
      <input type="text" #indirizzo>
    </div>
  </div>
  <div>
    <p>Telelfono</p>
    <div>
      <input type="text" #telelfono>
    </div>
  </div>
  <div>
    <p>Mail</p>
    <div>
      <input type="text" #mail>
    </div>
  </div>
  <div>
    <p>Data Prenotazioni</p>
    <div>
      <input type="text" #data>
    </div>
  </div>
  <div>
    <p>Ora Prenotazioni</p>
    <div>
      <input type="text" #ora>
    </div>
  </div>
</div>